body, html {
    font-family: 'Sen', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background: url(./wallhaven-6om9rq.jpg) no-repeat center center fixed;
    background-size: cover;
}

header {
    margin-top: 3em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header > img {
    width: 6em;
    height: 6em;
    border-radius: 100%;
    box-shadow: rgba(192, 14, 168, 0.76) 1px 1px 30px 0px;
}

header > h1 {
    display: inline-block;
    margin-top: 1.2em;
    font-size: 1em;
    font-weight: 800;
    border-radius: 1em;
    background-color: #000a;
    padding: 0.3em 0.6em;
    border: 1px solid rgba(245, 74, 208, 0.37);
    backdrop-filter: blur(10px) saturate(160%) contrast(180%);
}

header > p {
    font-size: 1em;
    font-weight: 400;
    font-style: italic;
    padding: 0.3em 0.6em;
    margin: 0;
    color: rgb(16, 13, 22);
}

ul {
    list-style: none;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 2em;
    max-width: 480px;
}

ul > li {
    background-color: rgba(250, 219, 247, 0.185);
    backdrop-filter: blur(10px) contrast(150%) saturate(120%);
    border-radius: 10em;
    padding: 1em;
    margin: 1.4em 0;
}

ul > li > a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

a {
    color: black;
    text-decoration: none;
}

.icons {
    font-size: 1.2em;
    color: rgb(16, 13, 22);
    padding: 0.5em 0.7em;
    text-align: center;
}

.ti {
    padding: 0.2em;
}

main {
    background-color: rgba(255, 255, 255, 0.404);
    height: 80%;
    max-width: 50%;
    width: 60%;
    align-items: center;
    margin: auto;
    margin-bottom: 2em;
    padding: 1em 5em;
    border-radius: 1em;
    backdrop-filter: blur(15px) contrast(150%) saturate(180%);
}

/* timeline */
section {
    width: 100%;
    position: relative;
    margin: 1em auto;
}

section > .container {
    list-style-type: none;
    border-left: 0.1em solid #000000;
    padding: 1em 0.3em;
}

section > .container > .timeline {
    padding: 1.5em 1.5em;
    position: relative;
    transition: .5s;
}

section > .container > .timeline > span {
    display:inline-block;
    background-color: #d31fbb62;
    border-radius: 1.5em;
    padding: 2px 0.3em;
    font-size: 0.9em;
    text-align: center;
    color: #000000;
}

section > .container > .timeline > .content > h2 {
    color: #1784cc;
    font-size: 1.1em;
    margin: 0;
    padding-top: 0.3em;
}

section > .container > .timeline > .content > p {
    padding: 5px 0px 15px 0px;
    font-size: 0.9em;
    margin: 0;
    color: #000000;
}

section > .container > .timeline > .content > img {
    height: 1.5em;
    border-radius: 15px;
}

section > .container > .timeline::before {
    position: absolute;
    content: '';
    width: 0.6em;
    height: 0.6em;
    background-color: #000000;
    border-radius: 50%;
    left: -11.5px;
    top: 1.7em;
    transition: .5s;
}
/* end timeline */

footer {
    font-size: 0.7em;
    text-align: center;
    color: rgb(16, 13, 22);
    margin: 0;
    padding: 0.4em;
}